{% extends "base.html" %}

{% block content %}

 <div class='row'>
	<div class='col-12 col-8 mx-auto'>
              <form class="form-inline my-2 my-lg-0" action='/search/'>
              <input class="form-control mr-sm-2" type="search" placeholder="Search" name='q' aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form> 

		  
                
                     {% if query %}
                     <p class='lead'>You searched for {{ query }}</p>
                    {% include 'list-inline.html' with blog_post=object truncate=True detail=False %}
                  
                   {% endif %}

    	      
	</div>



 </div>
{% endblock %}
